<section class="container">
  <h1 class="display-1 text-secondary app-headline">Todos</h1>
</section>
<section class="todoapp container shadow">
  <div class="main">
    <app-todo-list-header (add)="onAddTodo($event)"></app-todo-list-header>

    <app-todo-list
      [todos]="todos"
      (toggleComplete)="onToggleTodoComplete($event)"
      (remove)="onRemoveTodo($event)"></app-todo-list>

    <app-todo-list-footer
      [todos]="todos"></app-todo-list-footer>

  </div>
</section>

<section class="container sign-out-wrapper">
  <button class="btn btn-secondary btn-block" (click)="doSignOut()">Sign Out</button>
</section>
